.root {
    -fx-base: #0e0d0f;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #ff4365;
    -fx-focus-color: #b7ad99;
    -fx-faint-focus-color: #b7ad99;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color ;

}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );
}

.mainAnchor {
    -fx-background-color: #0e0d0f;
}

#usernameLabelID, #messageLabelID, #userLabelID  {
    -fx-text-fill: #00d9c0;
    -fx-font-size: 1.1em;
}

#timeStampID {
    -fx-text-fill: #b7ad99;
}