.background{
    -fx-background-color: black;
}

.anchor-pane-background{
    -fx-background-color: black;
    -fx-body-color: black;
    -fx-inner-border-color: black;
    -fx-text-fill: #00d9c0;
}

.list-view-background{
    -fx-background-color: #4C4C4C;
    -fx-control-inner-background: transparent;
}

.list-view-background:selected{
    -fx-background-color: brown;
}

.font-color{
    -fx-text-fill: #00d9c0;
}

.text-input{
    -fx-background-color: #4C4C4C;
}

.textInput{
    -fx-background-color: #4C4C4C;
    -fx-control-inner-background:#4C4C4C;
}

.button-color{
    -fx-background-color: #279af1;
}

.button:hover{
    -fx-background-radius: 0;
    -fx-background-color: black;
    -fx-color: white;
}

.tool-bar{
    -fx-background-color: black;
}

.login-labels {
    -fx-font-size: 1.5em;
}

.login-text-views{
    -fx-max-width: 300px;
}
.login-button{
    -fx-background-radius: 0;
    -fx-min-width: 200px;
    -fx-cursor: hand;
}

