.background{
    -fx-background-color: blue;
}

.listViewBackgrounds{
    -fx-background-color: purple;
}

.font-color{
    -fx-text-fill: red;
}

.text-input{
    -fx-background-color: orange;
}

.button-color{
    -fx-background-color: green;
}

.button:hover{
    -fx-background-radius: 0;
    -fx-background-color: black;
    -fx-color: white;
}

.tool-bar{
    -fx-background-color: yellow;
}

-- login

.login-labels {
    -fx-font-size: 1.5em;
}

.login-text-views{
    -fx-max-width: 300px;
}
.login-button{
    -fx-background-radius: 0;
    -fx-min-width: 200px;
    -fx-cursor: hand;
}

