.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.mainAnchor {
    -fx-background-color: white;
    /*-fx-background-image: url('../images/digitalbackground.jpg');*/
    -fx-background-size: cover;
}

.messageDisplayTextArea .content,
.messageSendTextArea .content {
    -fx-background-color: black;
}

.uiDefaults{
    /*-fx-background-image: url('../images/digitalbackground.jpg');*/
    -fx-background-size: cover;
}

/*#usernameLabel, #passwordLabel, #serverLabel {*/
/*    -fx-font-size: 1.5em;*/
/*}*/

.loginLabels{
    -fx-font-size: 1.5em;
}

.messageBox{
    -fx-width: 50px;
    -fx-padding: 10px;
    /*-fx-border-color: #279af1;*/
    /*-fx-border-style: solid;*/
}

#userPane, #roomPane {
    -fx-border-width: 0;
}

.defaultButton{
    -fx-background-radius: 0;
    -fx-background-color: #279af1;
    -fx-text-fill: white;
}

#usernameTextField, #passwordTextField, #serverTextField {
    -fx-width: 100px;

}


.loginInputBox{
    -fx-max-width: 300px;
}

.loginButton{
    -fx-background-radius: 0;
    -fx-min-width: 200px;
    -fx-cursor: hand;
}

.loginButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: #4CAF50; /* Green */
    -fx-color: white;
}

#timeStampID {
    -fx-text-fill: GRAY;
}