.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.mainAnchor {
    -fx-background-image: url('../images/digitalbackground.jpg');
    -fx-background-size: cover;
}

.messageDisplayTextArea .content,
.messageSendTextArea .content {
    -fx-background-color: #eff0f1;
}

.uiDefaults{
    -fx-background-image: url('../images/digitalbackground.jpg');
    -fx-background-size: cover;
}

.loginLabels{
    -fx-font-size: 1.5em;
}

.defaultButton{
    -fx-background-color: #279af1;
    -fx-text-fill: white;
}

.loginInputBox{
    -fx-max-width: 300px;
}

.loginButton{
    -fx-min-width: 200px;
}
